<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
      <!-- responsive-nav -->
      <div id="responsive-nav">
        <!-- NAV -->
        <ul class="main-nav nav navbar-nav">
          <li class="active"><a href="#">หน้าแรก</a></li>
          <li><a href="#">โน๊ตบุ๊ค</a></li>
          <li><a href="#">โทรศัพท์</a></li>
          <li><a href="#">กล้อง</a></li>
          <li><a href="#">อุปกรณ์เสริม</a></li>
        </ul>
        <!-- /NAV -->
      </div>
      <!-- /responsive-nav -->
    </div>
    <!-- /container -->
  </nav>
  <!-- /NAVIGATION -->